.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   margin: auto;
}



button{
    background-color: transparent;
    
}